node_modules/
Front-Codes/node_modules/
.env
.env.*

dist/
build/
coverage/

*.log

Front-Codes/src/uploads/
uploads/
Front-Codes/src/video/
video/
Front-Codes/src/padkast/
padkast/

*.png
*.jpg
*.jpeg
*.gif
*.webp

school-backend/
Codes/

.vscode/
.DS_Store